html,
body {
    margin: 0;
    padding: 0;
}

body {
    font: 14px "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    line-height: 1.4em;
    background: #f2f9ff;
    color: black;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
}

.hidden {
    display: none !important;
}