.app h1 {
    position: relative;
    top: 0;
    width: 100%;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: black;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.app div.info {
    width: 100%;
    margin: 0;
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    color: darkblue;
}