.results-section {
    position: relative;
    z-index: 2;
    border-top: none;
    top: -10px;
}

.results-list {
    margin: 0;
    padding: 0;
    list-style: none;
    background: white;
    position: absolute;
    left: 3%;
    width: 94%;
    border-radius: 8px;
    box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.08),
                5px 5px 5px 0 rgba(0, 0, 0, 0.08);
}

.results-list li.result-item {
    position: relative;
    font-size: 18px;
    border-bottom: 1px solid gainsboro;
    width: 100%;
    line-height: 60px;
    text-indent: 12px;
    cursor: pointer;
}

.results-list li.result-item:hover, li.result-item.selected {
    background-color: #04a2dd;
    color: white;
}

.results-list li.result-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.results-list li.result-item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: none;
}