.search-section {
    background: #0097cf;
    margin: 10px 0 0 0;
    position: relative;
    padding: 3%;
    border: 1px solid #4d4d4d;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0,0,0,1);
}

.search-section input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    color: #bfbfbf;
}

.search-section input::-moz-placeholder {
    font-style: normal;
    font-weight: 400;
    color: #bfbfbf;
}

.search-section input::input-placeholder {
    font-style: normal;
    font-weight: 400;
    color: #bfbfbf;
}

.search-input {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    outline: none;
    color: inherit;
    background: transparent;
    padding: 5px;
    border: 1px solid #4d4d4d;
    border-radius: 8px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.search-input.transparent {
    position: absolute;
    width: 94%;
    color: darkgrey;
    background: white;
    border-color: transparent;
}